
@import url('./css/navbar.scss');
@import url('./css/modal.scss');
@import url('./css/carrusel.scss');
@import url('./css/radio.scss');
@import url('./css/accordion.scss');
@import url('./css/resumen.scss');
@import url('./css/paso2.scss');
@import url('./css/adicionales.scss');
@import url('./css/paso3.scss');


.claseApp{
   display: none;
}

.div_ordenar_por{
    margin-top: 50px;
}

.img_icono{
 margin-left: 55px;
}

.label_recomendado{
   margin-right: 10px;
   font-weight: bold;
   font-size: 16px;
}


.boton_mejor_precio{
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 13px;
    font-weight: bold;
    padding: 7px;
    border-radius: 20px;
    width: 150px;
    
}

.boton_vuelos_directos{
    background-color: white;
    font-size: 13px;
    font-weight: bold;
    padding: 7px;
    border-radius: 20px;
    width: 180px;
}




 .th{
    font-weight: bold;
 }

 .TypographyparrafoNegrita{
    font-size: 18px !important;
    font-weight: bold;
    margin-left: 50px !important;
 }

 .TypographyparrafoPrimero{
    font-size: 16px !important;
    position: relative;
    padding-left: 20px;
    margin-left: 50px !important;
    margin-right: 50px !important;
 }

 .Typographyparrafo{
    font-size: 16px !important;
    position: relative;
    padding-left: 20px;
    margin-left: 50px !important;
    margin-right: 50px !important;
 }

 .Typographyparrafo::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    background-color: #80b0c0; /* Azul claro */
    border-radius: 50%; /* Hace que el punto sea circular */
  }

 .tabla1{
    width: 60%; 
    border-collapse: collapse;
    font-size: 17px;
    justify-content: center ;
    margin: 0 auto;
    border: none;
 }
 .tabla2{
    width: 40%;
    border-collapse: collapse;
    font-size: 17px;
    margin: 0 auto;
    border: none;
 }

 .setenta{
    font-weight: bold;
 }

 .div_piePagina{
   background-color: white;
   width: 100%;
   height: 40px;
    margin-top: 70px;
    width: 100%;
    padding-top: 10px;
    padding-left: 60px;
    padding-right: 60px;
    bottom: 0;
 }

 .label_piePagina1{
    float: left;
    font-size: 15px;
 }

 .label_piePagina2{
    float: right;
    font-size: 12px;
 }

 

 @media screen and (min-width: 1024px) {
   .claseApp {
     display: block;
     
   }

}


 